.section5{
    width: 100%;
    height: 55vh;
    padding-top: 1rem;
    background-color: rgba(244, 190, 129, 0.527);
    h2{
        text-align: center;
        color: rgba(21, 35, 68, 1);
        margin-bottom: 1rem;
        font-weight: 800;
    }
    .slide{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;
        height: 40vh;
        p{
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: center;
        }
    }
    img{
        width: 30%;
        height: 90%;
        border-radius: 10px;
        @media only screen and (max-width: 768px) {
        width: 70%;

        }
    }

}