.register{
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:93vh;
    margin-top: 3rem;
    Form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        width: 50%;
        padding: 10px;
        position: absolute;
        top: 25%;
        left: 25%;
    }

}