.register{
    background-image: url('../../Assetss/Group-113.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:93vh;
    margin-top: 3rem;
    Form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        width: 50%;
        padding: 10px;
        position: absolute;
        top: 25%;
        left: 25%;
        button {
            background: radial-gradient(#f2b8b3, 67.5%, #ec6e60) padding-box, radial-gradient(#ececec, 35%, #ffffff 70%) 50% 0/80% 50% repeat-y;
            color: #f2fdfeed;
            border: solid white;
            font-weight: 600;
            &:hover{
                color: #f2fdfe;
            }

        }
    }

}