.section4{
    width: 100%;
    height: 70vh;
    padding:1rem 0;
    // background-image: url('../../../../assets/background.png');
    // background-repeat: no-repeat;
    // background-size:cover;
    background-color: hsl(45.65deg 37.7% 76.08%);
    .part{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 7rem ;
        @media only screen and (max-width: 768px) {
            margin: 0 1.5rem ;
        }

        .imge{
            width: 40%;
            height: 100%;
            border-left: 1rem solid hsla(19, 86%, 57%, 0.697);
            
            img{
                height: 100%;
                width: 90%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                box-shadow: 5px 5px 8px 5px hsla(19, 86%, 57%, 0.697);
            }
        }
        .content{
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            h1{
                font-weight: 700;
                color:hsl(19.05deg 86.3% 57.06%)
            }
            ul{
                line-height: 3rem;
                li{
                    color: black;
                    font-weight: bold;
                    background-color: rgba(220, 220, 220, 0.192);
                    width:fit-content;
                    margin: 2px 0;
                    padding: 0 5px;
                }
                @media only screen and (max-width: 768px) {
                    line-height: 2rem;

                }
            }
        }
    }
}