.section7{
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    @media only screen and (max-width: 768px) {
        height: 62vh;

    }
    .sectionContent{
    width: 70%;
    height: 100%;
    padding-top: 1rem;
    @media only screen and (max-width: 768px) {
        margin-bottom:3rem;
        padding-top: 2rem;

    }

    p{
        color:hsl(19.05deg 86.3% 57.06%);
        text-align: center;

    }
    h2{
        text-align: center;
        color: rgba(21, 35, 68, 1);
        margin-bottom: 1rem;
        font-weight: 300;
    }
    .slide{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        p{
            color: rgba(21, 35, 68, 1);
            padding-left: 2rem;
            padding-right: 2rem;
            width: 50%;
            @media only screen and (max-width: 768px) {
                width: 90%;
            }
        }
        span{
            color:hsl(19.05deg 86.3% 57.06%);

        }
    }
    img{
        width: 50%;
        border-radius: 10px;
    }

}
}