.parrtt2 {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    background-color: #ffdf9699;
    
    @media only screen and (max-width:769px) {
        height: 85vh;
        gap: 0rem;

    }

    .text {
        width: 45%;
        line-height: 1.5rem;
        color: rgb(2, 23, 70);
        text-align: center;
        p {
            font-size: 1rem;
            line-height: 2rem;
            span{
                color: orangered;
                font-weight: 700;
            }
        }
        @media only screen and (max-width:769px) {
            width: 100%;
            margin: 0 5px;
        }
    }

    .photo {
        width: 45%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        img {
            width: 45%;
            height: 50vh;
            border-radius: 20px;
            @media only screen and (max-width:769px) {
                width: 100%;
                height: 50%;
            }
        }

        @media only screen and (max-width:769px) {
            width: 100%;
            margin: 0 5px;

        }
    }

}