.forrm{
    width: 100%;
    height: auto;
    background-color: rgba(242, 193, 222, 0.503);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 1rem 0;
    .form{
        height: 100%;
        width: 40%;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        // background-image: url('../../../../assets/03.jpg');
        // background-size:cover;
        // background-repeat: no-repeat;
        // object-fit: cover;
        background-color: rgb(253 243 230);
        border: 3px solid rgb(235 159 130);
   
        .form-control{
            width: 100%;
            background-color: rgba(255, 214, 198, 0.288);            
        }

        @media only screen and (max-width:769px) {
            width: 75%;
        }
    }
}